/*Font*/
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@400;500&display=swap");
* {
  box-sizing: border-box;
}
body {
  background-image: url(images/pattern-background-desktop.svg);
  font-family: "Lexend", sans-serif;
  background-repeat: no-repeat;
  background-color: #d9e2f9a6;
}
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 370px;
  height: 550px;
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
}
.container > img {
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}
.container .content {
  position: relative;
  top: 170px;
  text-align: center;
}

.container .content h2 {
  font-weight: bold;
}

.container .content p {
  color: rgb(164, 164, 164);
  font-size: 14px;
}
.container .content .box {
  background-color: rgba(127, 255, 212, 0.113);
  display: flex;

  align-items: center;
  padding: 10px;
  border-radius: 15px;
}
.container .content .box .box-text {
  font-size: 14px;
  line-height: 0.2;
  margin-left: 20px;
  margin-right: 100px;
}
.container .content .box a {
  font-size: 13px;
  color: #0000ff;
}
.container .content button {
  margin: 20px 0;
  border: none;
  background-color: #0000ff;
  padding: 12px;
  border-radius: 10px;
  color: #fff;
  width: 320px;
  box-shadow: 0 10px 20px 5px rgba(79, 242, 188, 0.308);
  cursor: pointer;
}
.container .content span {
  display: inline-block;
  color: rgb(110, 111, 112);
  font-size: 13px;
  font-weight: 500;
  margin-top: 20px;
}
